<footer class="app-footer">
  <span> &copy; <a href="http://www.barclays.com">Barclays Technology Center</a> 2018.</span>
  <div class="ml-auto">
    <i class="fa fa-times-circle fa-lg mr-2" style="color:  #ff3300;" aria-hidden="true" title="Disconnected from server"></i>
    <i class="fa fa-check-circle fa-lg mr-2" style="color: #33cc33;" aria-hidden="true" title="Connected to server"></i>
    <span>[{{version}}] | </span>
    <span style="color: #33cc33; font-weight: bold;"> [{{environment}}]</span>
  </div>
</footer>